
@font-face {
    font-family: 'Jal_Onuel';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jal_Onuel.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.layout-navigation-primary__menu__item {
   position:relative;
   display:inline-block;
   margin:6px 10px 0;
   padding:14px 6px;
   font-size:18px;
   line-height:26px;
   font-weight:700;
   color:#424242;
   cursor:pointer
}
.layout-navigation-primary__menu__item.focus-visible:focus {
   color:#35c5f0
}
@media (min-width:768px) {
   .layout-navigation-primary__menu__item:active,.layout-navigation-primary__menu__item:hover {
      color:#35c5f0
   }
}
.layout-navigation-primary__menu__item::-moz-focus-inner {
   border:0
}
.layout-navigation-primary__menu__item.focus-visible:focus {
   outline:none;
   box-shadow:0 0 0 3px rgba(130,224,250,.5);
   border-radius:3px
}
.layout-navigation-primary__menu__item--active,.layout-navigation-primary__menu__item--open {
   color:#35c5f0
}
.layout-navigation-primary__menu__item--open:after,.layout-navigation-primary__menu__item--open:before {
   content:"";
   display:block;
   position:absolute;
   top:100%;
   left:50%;
   width:0;
   height:0;
   border-style:solid
}
.layout-navigation-primary__menu__item--open:before {
   margin:1px 0 0 -5px;
   border-width:0 5px 10px;
   border-color:transparent transparent #dbdbdb
}
.layout-navigation-primary__menu__item--open:after {
   margin:2px 0 0 -4px;
   border-width:0 4.5px 9px;
   border-color:transparent transparent #fff;
   transform:translateX(-.5px)
}
.layout-navigation-primary {
   transition:top .1s;
   background-color:#fff;
   border-bottom:1px solid #ededed;
   z-index:502
}
.layout-navigation-primary__content {
   display:-webkit-box;
   display:-webkit-flex;
   display:-moz-flex;
   display:-ms-flexbox;
   display:flex;
   -webkit-box-align:start;
   -ms-flex-align:start;
   -webkit-align-items:flex-start;
   -moz-align-items:flex-start;
   align-items:flex-start;
   position:relative;
   height:50px;
   box-sizing:border-box;
   padding:0 8px;
   margin:0 auto
}
@media (min-width:768px) {
   .layout-navigation-primary__content {
      height:80px;
      padding:10px 40px;
      max-width:1256px
   }
}
@media (min-width:1024px) {
   .layout-navigation-primary__content {
      padding:10px 60px
   }
}
.layout-navigation-primary__leftmost {
   -webkit-box-flex:0;
   -webkit-flex:0 0 auto;
   -moz-box-flex:0;
   -moz-flex:0 0 auto;
   -ms-flex:0 0 auto;
   flex:0 0 auto;
   display:-webkit-box;
   display:-webkit-flex;
   display:-moz-flex;
   display:-ms-flexbox;
   display:flex;
   -webkit-box-align:start;
   -ms-flex-align:start;
   -webkit-align-items:flex-start;
   -moz-align-items:flex-start;
   align-items:flex-start;
   position:absolute;
   left:5px
}
@media (min-width:768px) {
   .layout-navigation-primary__leftmost {
      display:none
   }
}
.layout-navigation-primary__left {
   -webkit-box-flex:0;
   -webkit-flex:0 0 auto;
   -moz-box-flex:0;
   -moz-flex:0 0 auto;
   -ms-flex:0 0 auto;
   flex:0 0 auto;
   -webkit-align-self:center;
   -moz-align-self:center;
   -ms-flex-item-align:center;
   align-self:center;
   position:absolute;
   top:50%;
   left:50%;
   transform:translate(-50%,-50%);
   font-size:0
}
@media (min-width:768px) {
   .layout-navigation-primary__left {
      position:static;
      margin-right:35px;
      transform:none
   }
}
.layout-navigation-primary__right {
   -webkit-box-flex:1;
   -webkit-flex:1 0 auto;
   -moz-box-flex:1;
   -moz-flex:1 0 auto;
   -ms-flex:1 0 auto;
   flex:1 0 auto;
   display:-webkit-box;
   display:-webkit-flex;
   display:-moz-flex;
   display:-ms-flexbox;
   display:flex;
   -webkit-box-align:start;
   -ms-flex-align:start;
   -webkit-align-items:flex-start;
   -moz-align-items:flex-start;
   align-items:flex-start;
   -webkit-box-pack:end;
   -ms-flex-pack:end;
   -webkit-justify-content:flex-end;
   -moz-justify-content:flex-end;
   justify-content:flex-end;
   position:absolute;
   right:8px
}
@media (min-width:768px) {
   .layout-navigation-primary__right {
      -webkit-box-flex:1;
      -webkit-flex:1 0 auto;
      -moz-box-flex:1;
      -moz-flex:1 0 auto;
      -ms-flex:1 0 auto;
      flex:1 0 auto;
      position:static
   }
}
.layout-navigation-primary__menu {
   -webkit-box-flex:0;
   -webkit-flex:0 0 auto;
   -moz-box-flex:0;
   -moz-flex:0 0 auto;
   -ms-flex:0 0 auto;
   flex:0 0 auto;
   display:none
}
@media (min-width:768px) {
   .layout-navigation-primary__menu {
      display:block
   }
}
.layout-navigation-secondary__menu__item {
   position:relative;
   display:inline-block;
   font-size:13px;
   line-height:1;
   font-family:inherit;
   font-weight:700;
   margin:6px 4px;
   padding:8px 14px 7px;
   border:none;
   background:none;
   color:#424242;
   cursor:pointer;
   vertical-align:bottom
}
@media (min-width:768px) {
   .layout-navigation-secondary__menu__item {
      font-size:15px;
      line-height:23px;
      margin:8px 4px;
      padding:6px 18px 4px;
      color:#424242
   }
}
.layout-navigation-secondary__menu__item.focus-visible:focus {
   color:#35c5f0
}
@media (min-width:768px) {
   .layout-navigation-secondary__menu__item:active,.layout-navigation-secondary__menu__item:hover {
      color:#35c5f0
   }
}
.layout-navigation-secondary__menu__item::-moz-focus-inner {
   border:0
}
.layout-navigation-secondary__menu__item.focus-visible:focus {
   outline:none;
   box-shadow:0 0 0 3px rgba(130,224,250,.5);
   border-radius:3px
}
.layout-navigation-secondary__menu__item.hide-mobile {
   display:none
}
@media (min-width:768px) {
   .layout-navigation-secondary__menu__item.hide-mobile {
      display:inline-block
   }
}
.layout-navigation-secondary__menu__item--active,.layout-navigation-secondary__menu__item--open {
   color:#35c5f0
}
.layout-navigation-secondary__menu__item--active:after {
   content:"";
   display:block;
   position:absolute;
   left:0;
   right:0;
   top:100%;
   margin:4px -4px 0;
   height:2px;
   background-color:#35c5f0
}
@media (min-width:768px) {
   .layout-navigation-secondary__menu__item--active:after {
      margin:6px -4px 0
   }
}
.layout-navigation-secondary__menu__item>.new-icon {
   margin:-2px 0 -2px 1px;
   vertical-align:0
}
.layout-navigation-secondary {
   transition:top .1s;
   background-color:#fff;
   border-bottom:1px solid #ededed;
   z-index:501
}
.layout-navigation-secondary--query {
   background-color:#f7f8fa;
   transition:top .1s;
   border-bottom:1px solid #ededed;
   z-index:501
}
.layout-navigation-secondary__content {
   display:-webkit-box;
   display:-webkit-flex;
   display:-moz-flex;
   display:-ms-flexbox;
   display:flex;
   -webkit-box-align:start;
   -ms-flex-align:start;
   -webkit-align-items:flex-start;
   -moz-align-items:flex-start;
   align-items:flex-start;
   position:relative;
   min-height:40px;
   margin:0 auto;
   box-sizing:border-box;
   overflow-x:auto
}
@media (min-width:768px) {
   .layout-navigation-secondary__content {
      min-height:49px;
      max-width:1256px
   }
}
.layout-navigation-secondary__menu {
   -webkit-box-flex:1;
   -webkit-flex:1 0 auto;
   -moz-box-flex:1;
   -moz-flex:1 0 auto;
   -ms-flex:1 0 auto;
   flex:1 0 auto;
   margin:0;
   padding:0 4px;
   min-width:0;
   white-space:nowrap;
   font-size:0;
   text-align:center
}
@media (min-width:768px) {
   .layout-navigation-secondary__menu {
      padding:0 0 0 40px;
      margin:0 8px 0 -12px;
      text-align:left
   }
}
@media (min-width:1024px) {
   .layout-navigation-secondary__menu {
      padding:0 0 0 60px
   }
}

.layout-navigation-bar-icon {
   -moz-user-select:-moz-none;
   -khtml-user-select:none;
   -webkit-user-select:none;
   -ms-user-select:none;
   user-select:none;
   position:relative;
   display:inline-block;
   margin:7px 1px;
   padding:6px;
   box-sizing:border-box;
   width:36px;
   height:36px;
   background:transparent;
   border:none;
   cursor:pointer;
   font-family:inherit;
   transition:background .1s;
   border-radius:100%
}
@media (min-width:768px) {
   .layout-navigation-bar-icon {
      margin:15px 1.5px 9px
   }
}
.layout-navigation-bar-icon.focus-visible:focus {
   background-color:#35c5f0
}
.layout-navigation-bar-icon.focus-visible:focus>.icon {
   color:#fff
}
@media (min-width:768px) {
   .layout-navigation-bar-icon:active,.layout-navigation-bar-icon:hover {
      background-color:#35c5f0
   }
   .layout-navigation-bar-icon:active>.icon,.layout-navigation-bar-icon:hover>.icon {
      color:#fff
   }
}
.layout-navigation-bar-icon--hide-mobile {
   display:none
}
@media (min-width:768px) {
   .layout-navigation-bar-icon--hide-mobile {
      display:inline-block
   }
}
.layout-navigation-bar-icon>.icon {
   position:absolute;
   top:6px;
   left:6px;
   transition:color .1s;
   color:#757575
}
.layout-navigation-bar-icon__ticker {
   position:absolute;
   top:0;
   right:0;
   min-width:15px;
   height:15px;
   font-size:10px;
   padding:0 4px;
   font-weight:700;
   line-height:13px;
   text-align:center;
   color:#fff;
   box-sizing:border-box;
   background-color:#f77;
   border-radius:15px
}
@media (min-width:768px) {
   .layout-navigation-bar-icon__ticker {
      top:0;
      right:0;
      min-width:21px;
      height:21px;
      padding:0 4px;
      font-size:12px;
      line-height:19px;
      border-radius:21px
   }
}
.layout-navigation-bar-drawer-button.layout-navigation-bar-icon>.icon {
   color:#35c5f0
}
.layout-navigation-bar-drawer-button.layout-navigation-bar-icon.focus-visible:focus {
   background-color:#35c5f0
}
.layout-navigation-bar-drawer-button.layout-navigation-bar-icon.focus-visible:focus>.icon {
   color:#fff
}
@media (min-width:768px) {
   .layout-navigation-bar-drawer-button.layout-navigation-bar-icon:active,.layout-navigation-bar-drawer-button.layout-navigation-bar-icon:hover {
      background-color:#35c5f0
   }
   .layout-navigation-bar-drawer-button.layout-navigation-bar-icon:active>.icon,.layout-navigation-bar-drawer-button.layout-navigation-bar-icon:hover>.icon {
      color:#fff
   }
}
.layout-navigation-logo {
   display:inline-block;
   margin:-4px;
   padding:4px
}
.layout-navigation-logo.layout-navigation-bar-logo>.icon {
   width:50px;
   height:22px
}
@media (min-width:768px) {
   .layout-navigation-logo.layout-navigation-bar-logo>.icon {
      width:74px;
      height:30px
   }
}
.layout-navigation-logo::-moz-focus-inner {
   border:0
}
.layout-navigation-logo.focus-visible:focus {
   outline:none;
   box-shadow:0 0 0 3px rgba(130,224,250,.5);
   border-radius:3px
}

.layout-navigation-bar-upload-button.drop-down {
   display:none;
   margin:14px 0 0 10px
}
@media (min-width:768px) {
   .layout-navigation-bar-upload-button.drop-down {
      display:inline-block
   }
}
@media (min-width:1024px) {
   .layout-navigation-bar-upload-button.drop-down {
      margin:14px 0 0 20px
   }
}
.layout-navigation-bar-upload-button__button {
   display:inline-block;
   margin:0;
   border:none;
   background:none;
   font:inherit;
   width:85px;
   box-sizing:border-box;
   padding:8px 0 10px;
   font-size:15px;
   line-height:21px;
   font-weight:700;
   text-align:center;
   color:#fff;
   background-color:#35c5f0;
   border-radius:4px;
   transition:background-color .1s
}
@media (min-width:1024px) {
   .layout-navigation-bar-upload-button__button {
      width:100px;
      padding:8px 0 10px;
      font-size:16px;
      line-height:22px
   }
}
.layout-navigation-bar-upload-button__button.focus-visible:focus {
   background-color:#09addb
}
@media (min-width:768px) {
   .layout-navigation-bar-upload-button__button:active,.layout-navigation-bar-upload-button__button:hover {
      background-color:#09addb
   }
}
.layout-navigation-bar-upload-button__button>.icon {
   margin-left:6px;
   font-size:12px
}
@media (min-width:1024px) {
   .layout-navigation-bar-upload-button__button>.icon {
      margin-left:10px;
      font-size:12px
   }
}

.layout-navigation-bar-user-button {
   display:-webkit-box;
   display:-webkit-flex;
   display:-moz-flex;
   display:-ms-flexbox;
   display:flex;
   -webkit-box-align:center;
   -ms-flex-align:center;
   -webkit-align-items:center;
   -moz-align-items:center;
   align-items:center;
   margin:15px 0 9px 1.5px;
   padding:0;
   font-family:inherit;
   background:none;
   border:none;
   color:#757575;
   transition:color .1s
}
.layout-navigation-bar-user-button.focus-visible:focus {
   color:#35c5f0
}
.layout-navigation-bar-user-button.focus-visible:focus .layout-navigation-bar-user-button__image {
   border-color:#35c5f0
}
@media (min-width:768px) {
   .layout-navigation-bar-user-button:active,.layout-navigation-bar-user-button:hover {
      color:#35c5f0
   }
   .layout-navigation-bar-user-button:active .layout-navigation-bar-user-button__image,.layout-navigation-bar-user-button:hover .layout-navigation-bar-user-button__image {
      border-color:#35c5f0
   }
}
.layout-navigation-bar-user-button--open {
   color:#35c5f0
}
.layout-navigation-bar-user-button--open .layout-navigation-bar-user-button__image {
   border-color:#35c5f0
}
.layout-navigation-bar-user-button__image {
   -webkit-box-flex:0;
   -webkit-flex:0 0 auto;
   -moz-box-flex:0;
   -moz-flex:0 0 auto;
   -ms-flex:0 0 auto;
   flex:0 0 auto;
   position:relative;
   width:32px;
   height:32px;
   border-radius:100%;
   overflow:hidden;
   border:2px solid transparent;
   transition:border-color .1s
}
.layout-navigation-bar-user-button__image>.image {
   position:absolute;
   top:50%;
   left:50%;
   width:100%;
   transform:translate(-50%,-50%)
}
.layout-navigation-bar-user-button__caret {
   -webkit-box-flex:0;
   -webkit-flex:0 0 auto;
   -moz-box-flex:0;
   -moz-flex:0 0 auto;
   -ms-flex:0 0 auto;
   flex:0 0 auto;
   margin-left:3px
}
.layout-navigation-user-menu__ticker {
   min-width:15px;
   font-size:10px;
   margin:-2px 0 -2px 2px;
   padding:0 4px;
   font-weight:700;
   line-height:13px;
   text-align:center;
   color:#fff;
   box-sizing:border-box;
   background-color:#f77;
   border-radius:15px;
   vertical-align:1px
}
.layout-navigation-user-menu__blue {
   color:#35c5f0;
   font-weight:700
}
.layout-navigation-bar-user-menu {
   width:200px;
   margin:0 -1px;
   padding:10px;
   box-sizing:border-box;
   background-color:#fff;
   box-shadow:0 4px 6px 0 rgba(0,0,0,.18);
   border:1px solid #dbdbdb;
   border-radius:4px;
   white-space:nowrap;
   overflow:hidden
}
.layout-navigation-bar-user-menu__item {
   display:block;
   position:relative;
   width:100%;
   margin:0;
   padding:10px 14px 11px;
   box-sizing:border-box;
   border:none;
   background:#fff;
   color:#424242;
   font-family:inherit;
   font-weight:400;
   font-size:15px;
   line-height:21px;
   text-decoration:none;
   text-align:left;
   cursor:pointer;
   border-radius:2px
}
.layout-navigation-bar-user-menu__item.focus-visible:focus {
   background-color:#f7f8fa
}
@media (min-width:768px) {
   .layout-navigation-bar-user-menu__item:active,.layout-navigation-bar-user-menu__item:hover {
      background-color:#f7f8fa
   }
}
.layout-navigation-bar-login {
   display:none;
   margin:20px -9px 16px -7px;
   white-space:nowrap
}
@media (min-width:768px) {
   .layout-navigation-bar-login {
      display:inline-block
   }
}
.layout-navigation-bar-login__item {
   position:relative;
   display:inline-block;
   margin:0 9px 0 8px;
   padding:2px;
   color:#757575;
   font-size:15px;
   font-weight:700;
   line-height:20px
}
.layout-navigation-bar-login__item.focus-visible:focus {
   color:#35c5f0
}
@media (min-width:768px) {
   .layout-navigation-bar-login__item:active,.layout-navigation-bar-login__item:hover {
      color:#35c5f0
   }
}
.layout-navigation-bar-login__item::-moz-focus-inner {
   border:0
}
.layout-navigation-bar-login__item.focus-visible:focus {
   outline:none;
   box-shadow:0 0 0 3px rgba(130,224,250,.5);
   border-radius:3px
}
.layout-navigation-bar-login__item:after {
   content:"";
   position:absolute;
   top:6px;
   left:100%;
   bottom:3px;
   margin-left:8px;
   border-right:1px solid #757575
}
.layout-navigation-bar-login__item:last-child:after,.layout-navigation-bar-user-section.drop-down {
   display:none
}
@media (min-width:768px) {
   .layout-navigation-bar-user-section.drop-down {
      display:block
   }
}
.layout-navigation-bar-user-section__content {
   position:relative;
   margin-top:17px
}
.layout-navigation-bar-user-section__content:after,.layout-navigation-bar-user-section__content:before {
   content:"";
   position:absolute;
   display:block;
   right:25px;
   bottom:100%;
   border-style:solid
}
.layout-navigation-bar-user-section__content:before {
   margin:0 0 0 -4px;
   border-width:0 5px 10px;
   border-color:transparent transparent #dbdbdb;
   transform:translateX(.5px)
}
.layout-navigation-bar-user-section__content:after {
   margin:0 0 -1px -4px;
   border-width:0 4.5px 9px;
   border-color:transparent transparent #fff
}

/* button */

.button {
   -moz-user-select:-moz-none;
   -khtml-user-select:none;
   -webkit-user-select:none;
   -ms-user-select:none;
   user-select:none;
   display:inline-block;
   margin:0;
   padding:0;
   box-sizing:border-box;
   border:1px solid transparent;
   background:none;
   font-family:inherit;
   font-weight:700;
   text-decoration:none;
   text-align:center;
   transition:color .1s,background-color .1s,border-color .1s;
   border-radius:4px;
   cursor:pointer
}
.button:focus {
   outline:none;
   text-decoration:none
}
.button::-moz-focus-inner {
   border:0
}
.button:disabled {
   cursor:default
}
.button--color-blue {
   background-color:#35c5f0;
   border-color:#35c5f0;
   color:#fff
}
.button--color-blue.focus-visible:focus {
   box-shadow:0 0 0 3px rgba(130,224,250,.5)
}
@media (min-width:768px) {
   .button--color-blue:active,.button--color-blue:hover {
      border-color:#09addb;
      background-color:#09addb
   }
}
.button--color-blue.disabled,.button--color-blue:disabled {
   background-color:#94e0f7;
   border-color:#94e0f7;
   color:#fff
}
.button--color-blue-inverted {
   background-color:#fff;
   border-color:#35c5f0;
   color:#35c5f0
}
.button--color-blue-inverted.focus-visible:focus {
   box-shadow:0 0 0 3px rgba(130,224,250,.5)
}
@media (min-width:768px) {
   .button--color-blue-inverted:active,.button--color-blue-inverted:hover {
      background-color:#f8fdff
   }
}
.button--color-blue-inverted.disabled,.button--color-blue-inverted:disabled {
   background-color:#fff;
   border-color:#94e0f7;
   color:#94e0f7
}
.button--color-blue-light-very-more {
   background-color:#e8f4fb;
   border-color:#e8f4fb;
   color:#35c5f0
}
.button--color-blue-light-very-more.focus-visible:focus {
   box-shadow:0 0 0 3px rgba(130,224,250,.5)
}
@media (min-width:768px) {
   .button--color-blue-light-very-more:active,.button--color-blue-light-very-more:hover {
      background-color:#dff0f9;
      border-color:#dff0f9
   }
}
.button--color-blue-light-very-more.disabled,.button--color-blue-light-very-more:disabled {
   background-color:#e8f4fb;
   border-color:#e8f4fb;
   color:#82e0fa
}
.button--color-navy {
   background-color:#1778ba;
   border-color:#1778ba;
   color:#fff
}
.button--color-navy.focus-visible:focus {
   box-shadow:0 0 0 3px rgba(23,120,186,.5)
}
@media (min-width:768px) {
   .button--color-navy:active,.button--color-navy:hover {
      border-color:#136196;
      background-color:#136196
   }
}
.button--color-navy.disabled,.button--color-navy:disabled {
   background-color:#4eaae9;
   border-color:#4eaae9;
   color:#fff
}
.button--color-navy-dark {
   background-color:#004e83;
   border-color:#004e83;
   color:#fff
}
.button--color-navy-dark.focus-visible:focus {
   box-shadow:0 0 0 3px rgba(0,78,131,.5)
}
@media (min-width:768px) {
   .button--color-navy-dark:active,.button--color-navy-dark:hover {
      border-color:#00365a;
      background-color:#00365a
   }
}
.button--color-navy-dark.disabled,.button--color-navy-dark:disabled {
   background-color:#4eaae9;
   border-color:#4eaae9;
   color:#fff
}
.button--color-red {
   background-color:#f77;
   border-color:#f77;
   color:#fff
}
.button--color-red.focus-visible:focus {
   box-shadow:0 0 0 3px rgba(255,119,119,.5)
}
@media (min-width:768px) {
   .button--color-red:active,.button--color-red:hover {
      background-color:#ff4e4e
   }
}
.button--color-red.disabled,.button--color-red:disabled {
   background-color:#fdd;
   border-color:#fdd;
   color:#fff
}
.button--color-gray-0 {
   background-color:#fff;
   border-color:#fff;
   color:#424242
}
.button--color-gray-0.focus-visible:focus {
   box-shadow:0 0 0 3px rgba(130,224,250,.5)
}
@media (min-width:768px) {
   .button--color-gray-0:active,.button--color-gray-0:hover {
      background-color:#f5f5f5;
      border-color:#f5f5f5
   }
}
.button--color-gray-0.disabled,.button--color-gray-0:disabled,.button--color-gray-4 {
   background-color:#f5f5f5;
   border-color:#f5f5f5;
   color:#757575
}
.button--color-gray-4.focus-visible:focus {
   box-shadow:0 0 0 3px rgba(130,224,250,.5)
}
@media (min-width:768px) {
   .button--color-gray-4:active,.button--color-gray-4:hover {
      background-color:#f0f0f0;
      border-color:#f0f0f0
   }
}
.button--color-gray-4.disabled,.button--color-gray-4:disabled {
   background-color:#f5f5f5;
   border-color:#f5f5f5;
   color:#757575
}
.button--color-gray-7 {
   background-color:#ededed;
   border-color:#ededed;
   color:#757575
}
.button--color-gray-7.focus-visible:focus {
   box-shadow:0 0 0 3px rgba(130,224,250,.5)
}
@media (min-width:768px) {
   .button--color-gray-7:active,.button--color-gray-7:hover {
      background-color:#dbdbdb;
      border-color:#dbdbdb
   }
}
.button--color-gray-7.disabled,.button--color-gray-7:disabled {
   background-color:#f5f5f5;
   border-color:#f5f5f5;
   color:#757575
}
.button--color-gray-14 {
   background-color:#dbdbdb;
   border-color:#dbdbdb;
   color:#424242
}
.button--color-gray-14.focus-visible:focus {
   box-shadow:0 0 0 3px rgba(130,224,250,.5)
}
@media (min-width:768px) {
   .button--color-gray-14:active,.button--color-gray-14:hover {
      background-color:#ccc;
      border-color:#ccc
   }
}
.button--color-gray-14.disabled,.button--color-gray-14:disabled {
   background-color:#f5f5f5;
   border-color:#f5f5f5;
   color:#757575
}
.button--color-gray-14-inverted {
   background-color:#fff;
   border-color:#dbdbdb;
   color:#757575
}
.button--color-gray-14-inverted.focus-visible:focus {
   box-shadow:0 0 0 3px hsla(0,0%,92.9%,.5)
}
@media (min-width:768px) {
   .button--color-gray-14-inverted:active,.button--color-gray-14-inverted:hover {
      background-color:#fafafa
   }
}
.button--color-gray-14-inverted.disabled,.button--color-gray-14-inverted:disabled {
   border-color:#ededed;
   color:#bdbdbd
}
.button--color-gray-26 {
   background-color:#bdbdbd;
   border-color:#bdbdbd;
   color:#fff
}
.button--color-gray-26.focus-visible:focus {
   box-shadow:0 0 0 3px hsla(0,0%,85.9%,.5)
}
@media (min-width:768px) {
   .button--color-gray-26:active,.button--color-gray-26:hover {
      background-color:#a9a9a9;
      border-color:#a9a9a9
   }
}
.button--color-gray-26.disabled,.button--color-gray-26:disabled {
   background-color:#dbdbdb;
   border-color:#dbdbdb;
   color:#fafafa
}
.button--color-gray-26-inverted {
   background-color:transparent;
   border-color:#bdbdbd;
   color:#757575
}
.button--color-gray-26-inverted.focus-visible:focus {
   box-shadow:0 0 0 3px rgba(130,224,250,.5)
}
@media (min-width:768px) {
   .button--color-gray-26-inverted:active,.button--color-gray-26-inverted:hover {
      background-color:#ededed
   }
}
.button--color-gray-26-inverted.disabled,.button--color-gray-26-inverted:disabled {
   border-color:#dbdbdb;
   color:#bdbdbd
}
.button--color-gray-54 {
   background-color:#757575;
   border-color:#757575;
   color:#fff
}
.button--color-gray-54.focus-visible:focus {
   box-shadow:0 0 0 3px #82e0fa
}
@media (min-width:768px) {
   .button--color-gray-54:active,.button--color-gray-54:hover {
      background-color:#ccc;
      border-color:#ccc
   }
}
.button--color-gray-54.disabled,.button--color-gray-54:disabled {
   background-color:#f5f5f5;
   border-color:#f5f5f5;
   color:#757575
}
.button--size-30 {
   padding:4px 10px;
   font-size:13px;
   line-height:20px;
   font-weight:700
}
.button--size-32 {
   padding:5px 7px 6px;
   font-size:15px;
   line-height:19px
}
.button--size-40 {
   padding:9px 10px;
   font-size:15px;
   line-height:20px
}
.button--size-45 {
   padding:11px 10px 12px;
   font-size:17px;
   line-height:20px
}
.button--size-50 {
   padding:11px 10px;
   font-size:17px;
   line-height:26px
}
.button--size-55 {
   padding:13px 10px 14px;
   font-size:17px;
   line-height:26px
}
.button--size-60 {
   padding:14px 15px;
   font-size:18px;
   line-height:30px
}
.button--size-70 {
   padding:24px 20px;
   font-size:18px;
   line-height:30px
}
.button--shape-0 {
   border-radius:0
}
.button--shape-6 {
   border-radius:6px
}
.button--shape-8 {
   border-radius:8px
}
.button--shape-round {
   border-radius:1000px
}
.layout-navigation-drawer-user__login {
   -webkit-box-flex:0;
   -webkit-flex:0 0 auto;
   -moz-box-flex:0;
   -moz-flex:0 0 auto;
   -ms-flex:0 0 auto;
   flex:0 0 auto;
   display:-webkit-box;
   display:-webkit-flex;
   display:-moz-flex;
   display:-ms-flexbox;
   display:flex;
   margin:30px 0;
   padding:0 5px
}
.layout-navigation-drawer-user__login__item.button {
   -webkit-box-flex:1;
   -webkit-flex:1 0 0px;
   -moz-box-flex:1;
   -moz-flex:1 0 0px;
   -ms-flex:1 0 0px;
   flex:1 0 0px;
   margin:0 5px
}
.layout-navigation-drawer-user {
   -webkit-box-flex:0;
   -webkit-flex:0 0 auto;
   -moz-box-flex:0;
   -moz-flex:0 0 auto;
   -ms-flex:0 0 auto;
   flex:0 0 auto;
   display:block;
   margin:30px 10px;
   font-size:14px;
   font-weight:700;
   line-height:22px;
   color:#424242;
   overflow:hidden;
   text-overflow:ellipsis;
   white-space:nowrap
}
.layout-navigation-drawer-user.focus-visible:focus {
   color:#35c5f0
}
@media (min-width:768px) {
   .layout-navigation-drawer-user:active,.layout-navigation-drawer-user:hover {
      color:#35c5f0
   }
}
.layout-navigation-drawer-user__image {
   position:relative;
   display:inline-block;
   width:22px;
   height:22px;
   margin-right:6px;
   border-radius:100%;
   background-color:#f5f5f5;
   overflow:hidden;
   vertical-align:-5px
}
.layout-navigation-drawer-user__image>.image {
   position:absolute;
   top:50%;
   left:50%;
   width:100%;
   transform:translate(-50%,-50%)
}
.layout-navigation-drawer-user-menu {
   -webkit-box-flex:1;
   -webkit-flex:1 0 auto;
   -moz-box-flex:1;
   -moz-flex:1 0 auto;
   -ms-flex:1 0 auto;
   flex:1 0 auto;
   margin-top:10px
}
.layout-navigation-drawer-user-menu__item {
   display:block;
   width:100%;
   margin:0;
   padding:7px 10px;
   box-sizing:border-box;
   border:none;
   background:#fff;
   color:#424242;
   font-family:inherit;
   font-weight:400;
   font-size:14px;
   line-height:20px;
   text-decoration:none;
   text-align:left;
   cursor:pointer
}
.layout-navigation-drawer-user-menu--footer {
   -webkit-box-flex:0;
   -webkit-flex:0 0 auto;
   -moz-box-flex:0;
   -moz-flex:0 0 auto;
   -ms-flex:0 0 auto;
   flex:0 0 auto;
   margin-top:14px
}
.layout-navigation-drawer-user-menu--footer .layout-navigation-drawer-user-menu__item-wrap {
   display:inline-block
}
.layout-navigation-drawer-user-menu--footer .layout-navigation-drawer-user-menu__item-wrap:last-child .layout-navigation-drawer-user-menu__item {
   border-right:none
}
.layout-navigation-drawer-user-menu--footer .layout-navigation-drawer-user-menu__item {
   display:inline-block;
   width:auto;
   margin:4px 0 0;
   padding:2px 8px;
   border-right:1px solid #ededed;
   color:#757575;
   font-size:11px;
   line-height:15px
}
.layout-navigation__bar__logo.layout-navigation-logo>.icon {
   width:75px;
   height:33px
}
@media (min-width:768px) {
   .layout-navigation__bar__logo.layout-navigation-logo>.icon {
      width:135px;
      height:38px
   }
}

.layout-footer__cs {
   margin:0 0 25px;
   font-size:12px;
   line-height:16px
}
.layout-footer__cs__link {
   display:inline-block;
   font-weight:700;
   color:#424242
}
.layout-footer__cs__link>.icon {
   margin-left:1px;
   vertical-align:-1px;
   font-size:11px
}
.layout-footer__cs__tel {
   display:inline-block;
   margin:2px 0 0;
   font-size:28px;
   font-weight:700;
   color:#424242;
   line-height:36px
}
.layout-footer__cs__time {
   color:#757575
}
.layout-footer__outbound {
   margin:-3px -7px 25px
}
.layout-footer__outbound__item {
   display:inline-block;
   padding:3px;
   margin:0 4px
}
.layout-footer__shortcut {
   margin:0 -5px 10px
}
.layout-footer__shortcut>li {
   display:inline
}
.layout-footer__shortcut__item {
   display:inline-block;
   margin:0 3px;
   padding:2px;
   font-size:10px;
   font-weight:400;
   color:#424242;
   line-height:16px
}
.layout-footer__shortcut__item--bold {
   font-weight:700
}
.layout-footer__info {
   display:block;
   margin:0 -5px;
   font-size:10px;
   color:#757575;
   line-height:16px
}
.layout-footer__info__item {
   display:inline-block;
   margin:0 3px;
   padding:2px
}
.layout-footer__info__item dd,.layout-footer__info__item dt {
   display:inline
}
.layout-footer__info__item dt:after {
   content:":"
}
.layout-footer__info__item__link {
   font-weight:700
}
.layout-footer {
   display:block;
   background-color:#fafafa
}
.layout-footer a::-moz-focus-inner {
   border:0
}
.layout-footer a.focus-visible:focus {
   outline:none;
   border-radius:3px;
   box-shadow:0 0 0 3px rgba(130,224,250,.5)
}
.layout-footer__content {
   display:block;
   max-width:1256px;
   margin:0 auto;
   padding:30px 15px 40px;
   box-sizing:border-box
}
@media (min-width:768px) {
   .layout-footer__content {
      padding:30px 40px 40px
   }
}
@media (min-width:1024px) {
   .layout-footer__content {
      padding:30px 60px 40px
   }
}
@media (min-width:768px) {
   .layout-footer__top {
      display:-webkit-box;
      display:-webkit-flex;
      display:-moz-flex;
      display:-ms-flexbox;
      display:flex;
      -webkit-flex-wrap:wrap;
      -moz-flex-wrap:wrap;
      -ms-flex-wrap:wrap;
      flex-wrap:wrap;
      -webkit-box-align:start;
      -ms-flex-align:start;
      -webkit-align-items:flex-start;
      -moz-align-items:flex-start;
      align-items:flex-start;
      -webkit-box-pack:justify;
      -ms-flex-pack:justify;
      -webkit-justify-content:space-between;
      -moz-justify-content:space-between;
      justify-content:space-between
   }
}
.layout-footer__copyright {
   margin:10px 0 0;
   font-size:10px;
   color:#424242;
   line-height:16px
}
.layout,.page,body,html {
   height:100%
}
.layout {
   display:-webkit-box;
   display:-webkit-flex;
   display:-moz-flex;
   display:-ms-flexbox;
   display:flex;
   -webkit-box-direction:normal;
   -webkit-box-orient:vertical;
   -webkit-flex-direction:column;
   -moz-flex-direction:column;
   -ms-flex-direction:column;
   flex-direction:column
}
.layout>.layout-footer {
   margin-top:auto
}
.layout>* {
   -webkit-box-flex:0;
   -webkit-flex:0 0 auto;
   -moz-box-flex:0;
   -moz-flex:0 0 auto;
   -ms-flex:0 0 auto;
   flex: 0 0 auto
}

a{text-decoration: none;}


.story-entry__image-wrap {
    flex: 1 0 auto;
    margin: 0;
    padding: 0 4px;
}

@media (min-width: 768px){
.story-entry__image-wrap {
    padding: 0 0 0 40px;
    margin: 0 8px 0 -12px;
    text-align: left;
}
}

@media (min-width: 1024px){
.story-entry__image-wrap {
    padding: 0 0 0 60px;
}
}



/* 기본 버튼 */
.btn {
  border: none;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

.success {background-color: #4CAF50;} /* Green */
.success:hover {background-color: #46a049;}

.info {background-color: #2196F3;} /* Blue */
.info:hover {background: #0b7dda;}

.warning {background-color: #ff9800;} /* Orange */
.warning:hover {background: #e68a00;}

.danger {background-color: #f44336;} /* Red */ 
.danger:hover {background: #da190b;}

.default {background-color: #e7e7e7; color: black;} /* Gray */ 
.default:hover {background: #ddd;}

/* 글 목록 */
#list table { width: 100%;}
#list table, #list th, #list td {
	border: 1px solid black;
	border-collapse: collapse;
}

#list td, #list th {
	padding: 10px;	
}

#list .subject:hover {   /* 글 제목 위에 커서 올린 경우 */
	text-decoration: underline;
	color : orange;
	cursor: pointer;
}

.clear {
	clear: both;
}

.left {
	float:left;
}

.right {
	float:right;
}


/* 하단 버튼 */
.d01 {
	margin : 5px 0px;
}

/* 페이징 */
.center {
    text-align: center;
}

ul.pagination{
	list-style-type:none;
	margin-top: 30px;
}

ul.pagination li{
    display: inline-block;
}

ul.pagination a {
    color: black;
    float: left;
    padding: 4px 8px;
    text-decoration: none;
    transition: background-color .3s;
    /* border: 1px solid #ddd; */
    /* margin: 0 4px; */
    margin: 0px;
	width: 20px;
	height: 20px;
	text-align: center;
}

ul.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

ul.pagination a:hover:not(.active) {background-color: #ddd;}

/* 모달 팝업 */
.modal {   /* 모달 전체 적용 */	
	background-color: rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 100%;
	position : fixed;
	top: 0;
	left: 0;
	z-index: 1;
	padding-top: 40px;  /* 내부여백  */
	overflow: auto;
	display : none;  /* 기본적으로 안보이기 */  
}

.modal .modal-content {
	background-color: #fefefe;  /* 배경은 흰색 */
	width: 80%;   /* 화면대비 80% */
	margin: 5% auto 15% auto;  /* 위에서 5%,  아래에서 15%, 좌우 중앙정렬 */
	border: 1px solid #888;  /* 테두리 */
}

.modal .container {
	padding: 16px;
	position: relative;  /* 이래야 안에 있는 absolute 들이 동작 */
} 

.modal .close {  /* close 버튼 */
	font-size: 35px;	
	font-weight: bold;
	color: #000;
	position: absolute;
	right: 25px;
	top: 0px;
}

.modal .close:hover,
.modal .cloas:focus {
	color: red;
	cursor: pointer;
}


.modal input[type=text] {
	width: 100%;
	border: 1px solid #ccc;
	margin: 8px 0;
	padding: 12px 20px;
	display: inline-block;
	box-sizing: border-box;
}

.modal textarea {
	width: 100%;
	border: 1px solid #ccc;
	
	/*padding: 12px 20px;
	display: inline-block;
	
	margin: 8px 0;
	*/
}

.modal .fullbtn {
	width: 100%;
	cursor: pointer;
}




